<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

				
    <context:annotation-config />
	<context:component-scan base-package="com.md.idgenerator">
	</context:component-scan>

	<mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

	<!-- 将无法mapping到Controller的path交给default servlet handler处理 -->
	<!--mvc:default-servlet-handler /-->

	<!-- 定义JSP文件的位置 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 定义无Controller的path<->view直接映射 -->
	<mvc:view-controller path="/" view-name="redirect:/index" />
	
	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<constructor-arg value="UTF-8" />
	</bean>
	
	<bean name="PropertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="appConfiguration" />
	</bean>

	<bean id="appConfiguration" class="com.md.idgenerator.server.init.ConfigBean">
		<property name="configurations">
			<list>
				<bean class="org.apache.commons.configuration.XMLConfiguration">
					<constructor-arg index="0" type="java.net.URL"
						value="classpath:app.config.xml" />
				</bean>
			</list>			
		</property>
		
	</bean>
	
	<!-- dubbo -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="mdsh-idgerator" owner="programmer" organization="dubbox"/>
 
    <!-- 使用zk注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://192.168.11.122:2181"/>
 
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />
 
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.md.idgenerator.server.api.IdFactory" ref="idFactory" />
 
    <!-- 和本地bean一样实现服务 -->
    <bean id="idFactory" class="com.md.idgenerator.server.service.impl.IdCreatorFactory" />

</beans>
